input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    width: 200px;
    height:20px;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #ff7452;
    opacity: 0.7;
    width: 10px;
    height: 26px;
}


/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}



.work-button {
  display: inline-block;
  background: none;
  transition: all 0.4s ease-in-out;
  padding: 0;
  width: 250px;
  height: 250px;
  position: relative;
}

.work-hover {
    float: right;
    width: 250px;
    height: 250px;
    position: relative;

}

.work-sub:hover, .work-hover:hover > .work-sub {
  background-color: #ff7452;
  opacity: .75;
  width: 250px;
  height: 250px;  
  position: absolute;

}

.work-sub {
  text-align: center;
  font-family: "Candal", Verdana, sans-serif;
  font-size: 1.5em;
  color: #fff;
  float: left;
  opacity: 0.0;
  transition: all 0.4s ease-in-out;
  width: 250px;
  height: 250px;
  position: absolute;

}

.work-sub2 {
  text-align: center;
  font-family: "Candal", Verdana, sans-serif;
  font-size: 1.1em;
  color: #fff;
  float: left;
  opacity: 0.0;
  transition: all 0.4s ease-in-out;
  width: 250px;
  height: 250px;
  position: absolute;

}