<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/custom.css" rel="stylesheet">


  <script type=text/javascript> // for our new box
    $(function() {
      $('a#calculate').bind('click', function() {
        $.getJSON('/_make_user', {
          names: $('input[name="names"]').val(),
        }, function(data) {
          var pantryprint = [data.name, data.pantry]
          $("#result").text(pantryprint);
        });
        return false;
      });
    });
  </script>

  <script type=text/javascript> // for our new box
    $(function() {
      $('a#updatepantry').bind('click', function() {
        $.getJSON('/_update_pantry', {
          pantry: $('input[name="pantry"]').val(),
        }, function(data) {
          $("#result_pantry").text(data.pantry);
        });
        return false;
      });
    });
  </script>

  <script type=text/javascript> // for our new box
    $(function() {
      $('a#calculatetime').bind('click', function() {
        $.getJSON('/_timed_recipes', {
          time: $('input[name="time"]').val(),
        }, function(data) {
          $("#result_time").text(data.cooktime);
        });
        return false;
      });
    });
  </script>

  <script type=text/javascript>
    $(function() {
      $('a#calculate2').bind('click', function() {
        $.getJSON('/_food_page', {
          b: $('input[name="b"]').val(),
        }, function(data) {
          var htmlResults = "";
          for (var i = 0; i < data.names.length; i ++) {
            htmlResults += 
            "<div class='col-md-3'><div class='work-button'><a href='http://www.yummly.com/recipe/" + data.ids[i] + "'><br><img class='work-hover' src ='"+data.pics[i]+"' alt=''/><div class='work-sub'><b>"+data.names[i]+"</b><br><br>Cooktime: "+ data.times[i]+" minutes</div></div></a><br><br></div>";
          }
          console.log("We are here");
          $("#result2").html(htmlResults);
        });
        return false;
      });
    });
  </script>

  </head>
  <body>
    <div class="container">
      <div class="header">
        <center><h1 class="text-muted"> Rapid Recipes</h1>
        <h4 class = "text-muted">#StayHungry</h4>
      </center>
      </div>
      <hr/>
      <div>
          <div class="container">
      <div class="header">  
      <h4 class = "text-muted">Enter your username.</h4>
    <input type="text" size="25" name="names"> <br>
    <a href="javascript:void();" id="calculate">Log in.</a><br>    
    <h5 class = "text-muted">Logged in as: <br></h5><span id="result"> </span>
        <br><br>
    <h4 class = "text-muted"> Update your pantry. </h4>
    <h6 class = "text-muted">If you need to update your pantry (see above), type of list of pantry ingredients seperated by commas.</h6>
    <input type="text" size="50" name="pantry"> <br>
    <a href="javascript:void();" id="updatepantry">Update Pantry</a><br>    
    <span id="result_pantry"> </span>
    <br><br>
    <h4 class = "text-muted">Limit Total Prep Time </h4>
    <h6 class = "text-muted">Max total cooktime in minutes</h6>
  <input type="range" min="0" max="200" step="1" name = 'time' oninput="outputUpdate(value)"/><br>
  <output for='fader' id='time'>100</output> minutes<br>
  <script type=text/javascript>
    function outputUpdate(time) {
    document.querySelector('#time').value = time;
    }
  </script>
    <a href="javascript:void();" id="calculatetime">Confirm</a><br>    
    <span id="result_time"> </span> 
    <br><br>
    <h4 class = "text-muted"> Enter new ingredients </h4>
    <h6 class = "text-muted">Type of list of available ingredients seperated by commas.</h6>
    <input type="text" size="50" name="b"> <br>
    <a href="javascript:void();" id="calculate2">Find recipes!</a><br> 
    <div class = 'container'><div class="row"> <br>   
    <span id="result2"> </span>
  </div></div>
      </form>
</div></div>
      </div>
    </div>
  </body>
</html>
